
<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-5">

  <!-- Footer Contact and Links -->
  <div class="container-fluid text-center text-md-left color-contact-links p-3">

    <!-- Grid row -->
    <div class="row ">

       <!-- Grid column -->
     <!--  <div class="col-md-2 mt-md-0 mb-2">
          <img src="../assets/map_france_Lyon.svg" alt="dessin peche ile" style="width:7em">
      </div> -->
        <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4">

        <!-- Content -->
        <h5 class="text-uppercase mb-4">Contact</h5>
        <p>06...........................</p>
        <p>...................@gmail.com</p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-4">

        <!-- Links -->
        <h5 class="text-uppercase mb-4">Links</h5>
          <a href="https://fr-fr.facebook.com/souffle9dotation/" target="_blank">
            <i class="fab fa-linkedin-in mr-5 fa-2x ico"> </i>
          </a>
          <a >
            <i class="fab fa-twitter mr-5 fa-2x ico"> </i>
          </a>
          <a >
            <i class="fab fa-github mr-5 fa-2x ico"> </i>
          </a>

        <!-- <ul class="list-unstyled">
          <li>
            
            <a href="https://fr-fr.facebook.com/souffle9dotation/" target="_blank">
              <i class="fab fa-linkedin-in mr-5 fa-2x ico"> </i>
            </a>
          </li>
          <li>
            
            <a >
              <i class="fab fa-twitter mr-5 fa-2x ico"> </i>
            </a>
          </li>
          <li>
           
            <a >
              <i class="fab fa-github mr-5 fa-2x ico"> </i>
            </a>
          </li>
        </ul>
 -->
      </div>
      <!-- Grid column -->

       <!-- Grid column -->
       <div class="col-md-4 mb-md-0 mb-4">

        <!-- Content -->
        <h5 class="text-uppercase mb-4">Vous souhaitez consulter mon CV ?</h5>
        <p>Lien pour télécharger mon cv...</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Contact and Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 color-copyright">© 2019 Copyright:
    <ul class="list-unstyled">
      <li><a href="https://www.freepik.com/free-photos-vectors/coffee">Coffee photo created by freepik - www.freepik.com</a></li>
      <li><a href="https://fr.freepik.com/photos-vecteurs-libre/paysage">Paysage photo créé par welcomia - fr.freepik.com</a></li>
    </ul>
      
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

