.ico {
    color: #7f8fa6;
}

a {
    color: #7f8fa6;
}

.color-contact-links {
    background-color: #e4e4de;
}

.color-copyright {
    background-color: #f4f4ed;
}

.colonne-centree
{
float: none;
margin: 0 auto;
}